.bottom__links{
    display: none;
}

@media screen and (max-width: 500px) {
    .bottom__links{
        position: fixed;
        display: flex;
        bottom: 0%;
        background-color: #fff;
        padding: 10px;
        margin-bottom: 5px;
        border-radius: 20px;
        justify-content: center;
        flex: 1;
        box-shadow: 0 0 9px 3px rgb(41 41 41 / 25%);
        border: 1px solid black;
        width: 80%;
        justify-content: space-around;
        margin-left: 10px;
    }

    .bottom__links>a{
        text-decoration: none;
        color: black;
    }

    .bottom__email{
        transition: all 0.5 ease;
    }

    .bottom__email:hover{
        cursor: pointer;
        color: #0077b5;
    }

    .bottom__facebook{
        transition: all 0.5 ease;
    }

    .bottom__facebook:hover{
        cursor: pointer;
        color: #0077b5;
    }

    .bottom__linkedin{
        transition: all 0.5 ease;
    }

    .bottom__linkedin:hover{
        color: #0077b5;
        cursor: pointer;
    }

    .bottom__whatsapp{
        transition: all 0.5 ease;
    }

    .bottom__whatsapp:hover{
        cursor: pointer;
        color: 	#25D366
    }
}

@media screen and (max-width: 280px) {
    .bottom__links{
        width: 75%;
    }
}