.app{
    overflow-x: hidden;
}

.bottom{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}

.loading__image{
    object-fit: contain;
    height: 100px;
}

@media screen and (max-width: 500px) {
    .bottom{
        flex-direction: column-reverse;
    }

    .loading__image{
        height: 50px;
    }
}